# Telegram Bot Configuration
# Скопируйте этот файл в .env и заполните реальными значениями

# Токен вашего Telegram бота (получите у @BotFather)
BOT_TOKEN=secret

# Настройки MySQL базы данных
DB_HOST=dm2grig.beget.tech
DB_PORT=3306
DB_NAME=dm2grig_personal
DB_USER=dm2grig_personal
DB_PASSWORD=secret
DB_DIALECT=mysql

# ProxyAPI Configuration
PROXYAPI_KEY=secret
PROXYAPI_BASE_URL=https://api.proxyapi.ru


# Dashboard
DASHBOARD_PORT=3050